.container{
	margin-top: 10px;
}
.text-back-block{
	background-color: rgb(255, 0, 0);
	opacity: 50%;
}
h1 {
	text-align: center;
}
.text {
	margin-top: 5%;
}

.row {
	padding-bottom:2%;
}

img {
	border-radius: 1%;
}
li{
	padding-top: 5%;
}
.title-li{
	list-style-type: none;
}

p{
	font-size: large;
}
li{
	list-style-type: none;
}
.image{
	align-self: center;
}