.container{
	/* margin-top: 10px; */
}
.text-back-block{
	background-color: rgb(255, 0, 0);
	opacity: 50%;
}
h1 {
	text-align: center;
}
.text {
	margin-top: 5%;
}

.row {
	padding-bottom:2%;
}

img {
	border-radius: 1%;
}
li{
	padding-top: 5%;
}
.title-li{
	list-style-type: none;
}

p{
	font-size: large;
}
.text-center{
	text-align: center;
}
li{
	list-style-type: none;
}
.image{
	align-self: center;
}

.button{
	float: right;
}

.quicklinks{
	text-align: center;
	
}
.quicklinkbutton{
	text-align: center;
	margin-bottom: 5%;
}
.aboutme,.achievements,.rates{
	/* text-align: justify; */
	padding-top:2%;
	border-radius: 5%;
	margin: auto;
	background-color: rgba(128,128,128,0.3);
}