.container{
	margin-top: 10px;
}

h1 {
	text-align: center;
}
.text {
	margin-top: 5%;
}

.row {
	padding:2%;
}

img {
	border-radius: 1%;
}
li{
	padding-top: 5%;
}
.title-li{
	list-style-type: none;
}

p{
	font-size: large;
}
li{
	list-style-type: none;
}