<div class="container">
	<div class="row">
		<!-- <div class="col-7 image" style="background-color: aqua;">
			<img src="../../assets/callumFront.jpeg" alt="" width="100%" height="100%">
		</div>
		<div class="col-5 text" style="background-color: red;">

		Ill try and get some actual coaching photos at some point but for now you've got some place holders there. Feel free to scrub my FB too, 
		I've gone to striking shirts for a logo/shirt stuff because mint had nothing after 3 months 🙃

		Im thinking of marketing myself as high level coaching for a reasonable price. Pitch it is as 
		I want to work with as many people as possible. I'm sure you can spin that into something short and sweet.

		My rates £20 an hour for individual, £30 for groups up to 4. Anything larger is available but on a 
		custom basis. Non of this includes lane fee and is all in shipley.

		England Coach 2019 - 2024
		Ebf level 3

		England player 2018 - 2024
		Scottish open champion 2023	
		</div> -->
	</div>
	<div class="row">
	<div class="col-5 text">
		<h1>About Me</h1>
		<ul>
			<li>2019 youth triple crown u22 boys - Won everything. Singles, double, team, all events, Cup</li>
			<li>Training coach through covid until 2021</li>
			<li>lanning development, overseeing players developments, working directly with players. </li>
			<li><h3>England coach 2019 - 2024</h3></li>
			<li>Wittleshime 2022, Head Coach</li>
			<li>Vienna 2023 - Boys masters bronze, Girls team bronze, boys team bronze.</li>
			<li>helsinki 2024 - Girls doubles gold, Girls singles bronze - EYC head coach</li>
			<li>Team England Squad coach - present in all training sessions</li>
		</ul>
			
			 
	</div>
	<div class="col-7 image">
		<img src="../../assets/callumFront.jpeg" alt="" width="100%" height="100%">
	</div>
	</div>

	<div class="row">
		<div class="col-7 image">

			<img src="../../assets/BronzeMedal.jpg" alt="" width="100%" height="100%">
		</div>
		<div class="col-5 text">
			<h1>Achievements</h1> 
			<ul>
				<li>Youth Triple crown </li>
				<li>3 time National Champion</li>
				<li>Mens National Team 2022, 2023</li>
				<li>U22 World Championships 2018</li>
				<li>Competed on European Bowling Tour since 2018</li>
				<li>Fully trained (uncertified) Pro Shop Operator</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-5 text">
			<h1>Rates</h1> 
			<ul>
				<li>20 per hour individual</li>
				<li>30 per hour - group up to 4</li>
			</ul>
				<p>No bulk buys - I want you to want to be here every lesson. Sometimes when students bulk buy lessons 
					and realise they do not want to continue. This can lead to bowlers not wanting to train. I'm committed 
					to you but I don't want you to feel committed to me. </p> 
		</div>
		<div class="col-7 image">

			<img src="../../assets/Training.jpg" alt="" width="100%" height="100%">
		</div>
	</div>
</div>

<app-footer></app-footer>