<div class="navbar">
	<div class="row">

		<div class="col-1 logo">
			<div class="nav-logo"> <a routerLink="/"> <img src="../../assets/calsi-max.png" alt=""> </a> </div>
		</div>
		<div class="col-10">

			<div class="nav-items">
				<ul>
					<li class="vertical-align"> <a routerLink="/contact">Contact me</a> </li>
					<li class="vertical-align"> <a routerLink="/coaching">Coaching</a> </li>
					<li class="vertical-align"> <a routerLink="/mechanical-services">Mechanical Services</a> </li>
					<li class="vertical-align"> <a routerLink="/other-bowling-services">Other Bowling Services</a> </li>
				</ul>
			</div>
		</div>
	</div>
</div>